1. One-Hot Encoding
2. Label Encoding
3. Ordinal Encoding
4. Binary Encoding
5. Hash Encoding

In [1]:
import pandas as pd

In [16]:
data = {
    'Car_Type':['Sedan', 'SUV', 'Hatchback', 'Sedan', 'SUV'],
    'Fuel_Type':['Gas', 'Electric', 'Diesel', 'Gas', 'Diesel']
}
df = pd.DataFrame(data)

In [3]:
df

    Car_Type Fuel_Type
0      Sedan       Gas
1        SUV  Electric
2  Hatchback    Diesel
3      Sedan       Gas
4        SUV    Diesel

## 1. One Hot Encoding

In [4]:
one_hot_encoded = pd.get_dummies(df, columns=['Car_Type', 'Fuel_Type'])
one_hot_encoded

,Car_Type_Hatchback,Car_Type_SUV,Car_Type_Sedan,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Gas
0,False,False,True,False,False,True
1,False,True,False,False,True,False
2,True,False,False,True,False,False
3,False,False,True,False,False,True
4,False,True,False,True,False,False

## 2. Label Encoding

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
label_encoder = LabelEncoder()
df['Car_Type_LabelEncoded'] = label_encoder.fit_transform(df['Car_Type'])
df['Fuel_Type_LabelEncoded'] = label_encoder.fit_transform(df['Fuel_Type'])

In [7]:
df

    Car_Type Fuel_Type  Car_Type_LabelEncoded  Fuel_Type_LabelEncoded
0      Sedan       Gas                      2                       2
1        SUV  Electric                      1                       1
2  Hatchback    Diesel                      0                       0
3      Sedan       Gas                      2                       2
4        SUV    Diesel                      1                       0

## 3. Ordinal Encoding

In [9]:
ordinal_mapping = {
    'Low':1,
    'Medium' : 2,
    'High': 3
}

In [10]:
data = {
    'Price_Range': ['Low', 'Medium', 'High', 'Low', 'High']
}
df = pd.DataFrame(data)

In [11]:
df

  Price_Range
0         Low
1      Medium
2        High
3         Low
4        High

In [12]:
df['Price_Range_ordinal_Encoding'] = df['Price_Range'].map(ordinal_mapping)

In [13]:
df

  Price_Range  Price_Range_ordinal_Encoding
0         Low                             1
1      Medium                             2
2        High                             3
3         Low                             1
4        High                             3

In [14]:
!pip install category_encoders

Collecting category_encoders
  Obtaining dependency information for category_encoders from https://files.pythonhosted.org/packages/7f/e5/79a62e5c9c9ddbfa9ff5222240d408c1eeea4e38741a0dc8343edc7ef1ec/category_encoders-2.6.3-py2.py3-none-any.whl.metadata
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in c:\users\ramsu\anaconda3\lib\site-packages (from category_encoders) (1.24.3)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\ramsu\anaconda3\lib\site-packages (from category_encoders) (1.3.0)
Requirement already satisfied: scipy>=1.0.0 in c:\users\ramsu\anaconda3\lib\site-packages (from category_encoders) (1.11.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\ramsu\anaconda3\lib\site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pandas>=1.0.5 in c:\users\ramsu\anaconda3\lib\site-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\ramsu\anaconda3\lib\site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ramsu\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ramsu\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ramsu\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\ramsu\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ramsu\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ramsu\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\ramsu\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.1)
Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
   ---------------------------------------- 0.0/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   -------------------- ------------------- 41.0/81.9 kB 653.6 kB/s eta 0:00:01
   ---------------------------------------- 81.9/81.9 kB 1.2 MB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3

## 4. Binary Encoding

In [15]:
import category_encoders as ce

In [19]:
binary_encoder = ce.BinaryEncoder(cols=['Car_Type', 'Fuel_Type'])
binary_encoded = binary_encoder.fit_transform(df)

In [20]:
binary_encoded

   Car_Type_0  Car_Type_1  Fuel_Type_0  Fuel_Type_1
0           0           1            0            1
1           1           0            1            0
2           1           1            1            1
3           0           1            0            1
4           1           0            1            1

## 5. Hash Encoding

In [21]:
hash_encoder = ce.HashingEncoder(cols=['Car_Type', 'Fuel_Type'])
hash_encoded = hash_encoder.fit_transform(df)

In [22]:
hash_encoded

   col_0  col_1  col_2  col_3  col_4  col_5  col_6  col_7
0      0      0      0      0      1      0      1      0
1      0      0      0      1      0      1      0      0
2      1      0      0      0      0      1      0      0
3      0      0      0      0      1      0      1      0
4      0      0      0      0      0      2      0      0